{{ cron.rotate.interval }}
rotate {{ cron.rotate.days }}
copytruncate
compress
delaycompress
notifempty
missingok

minsize {{ cron.rotate.minsize }}
maxsize {{ cron.rotate.maxsize }}

include /etc/logrotate.d
