[hekad]
maxprocs = {{ heka_max_procs }}
hostname = "{{ CCP_HEKA_NODE_NAME }}"

[debug_output]
type = "LogOutput"
message_matcher = "Fields[payload_name] == 'debug'"
encoder = "rst_encoder"

[rst_encoder]
type = "RstEncoder"
