filename = "afd.lua"
log_level = 7
message_matcher = "TRUE"
ticker_interval = 10
afd_type = "node"
afd_file = "afd_node_default_cpu_alarms"
afd_cluster_name = "default"
afd_logical_name = "cpu"
hostname = "{{ node_name }}"
