output_path             = "/var/lib/hindsight/output"
sandbox_load_path       = "/var/lib/hindsight/load"
sandbox_run_path        = "/var/lib/hindsight/run"
analysis_lua_path       = "/usr/lib/x86_64-linux-gnu/luasandbox/modules/?.lua;/opt/ccp/lua/modules/?.lua"
analysis_lua_cpath      = "/usr/lib/x86_64-linux-gnu/luasandbox/modules/?.so"
io_lua_path             = analysis_lua_path .. ";/usr/lib/x86_64-linux-gnu/luasandbox/io_modules/?.lua"
io_lua_cpath            = analysis_lua_cpath .. ";/usr/lib/x86_64-linux-gnu/luasandbox/io_modules/?.so"

hostname = "{{ node_name }}"

input_defaults = {
  -- output_limit      = 64 * 1024
  -- memory_limit      = 8 * 1024 * 1024
  -- instruction_limit = 1e6
  -- preserve_data     = false
  -- ticker_interval   = 0
}
analysis_defaults = {
}
output_defaults = {
}

