filename = "influxdb_tcp.lua"
host = "influxdb"
port = {{ influxdb.port.cont }}
database = "{{ influxdb.database }}"
batch_max_lines = 3000
message_matcher = "TRUE"
ticker_interval = 10
log_level = 7
