filename = "afds.lua"
log_level = 7
message_matcher = "TRUE"
ticker_interval = 10
afd_type = "node"
afd_file = "cpu_alarms"
afd_cluster_name = "default"
afd_logical_name = "cpu"
hostname = "{{ CCP_HINDSIGHT_NODE_NAME }}"
