filename = "heka_tcp.lua"
address = "localhost"
port = {{ hindsight_heka_tcp_port.cont }}
-- the heka_tcp plugin is a "Continuous" plugin, so instruction_limit
-- must be set to zero
instruction_limit = 0
